<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>工大O2O订餐系统管理端</title>
  <link rel="shortcut icon" href="../../favicon.ico">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css">
  <link rel="stylesheet" href="../../styles/login.css">
  <link rel="stylesheet" href="../../styles/icon/iconfont.css" />
  <style>
    .body{
      min-width: 1366px;
    }
  </style>
</head> 

<body>
  <div class="login" id="login-app" >
    <div class="login-box" >
<!--     TBD <img src="../../images/login/login-l.png" alt="">-->
        <img src="/backend/images/login/index.jpg">
      <div class="login-form">
        <el-form ref="loginForm" :model="loginForm" :rules="loginRules" >
          <div class="login-form-title">
<!--            TBD <img src="../../images/login/logo.png" style="width:139px;height:42px;" alt="" />-->
            <h3 style="color: red">工大O2O订餐管理系统</h3></div>
          <el-form-item prop="username">
            <el-input v-model="loginForm.username" type="text" auto-complete="off" placeholder="账号" maxlength="20"
              prefix-icon="iconfont icon-user" />
          </el-form-item>
          <el-form-item prop="password">
            <el-input v-model="loginForm.password" type="password" placeholder="密码" prefix-icon="iconfont icon-lock" maxlength="20"
              @keyup.enter.native="handleLogin" />
          </el-form-item>
          <el-form-item style="width:100%;">
            <el-button :loading="loading" class="login-btn" size="medium" type="primary" style="width:100%;"
              @click.native.prevent="handleLogin">
              <span v-if="!loading">登录</span>
              <span v-else>登录中...</span>
            </el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>

  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="../../plugins/vue/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="../../plugins/element-ui/index.js"></script>
  <!-- 引入axios -->
  <script src="../../plugins/axios/axios.min.js"></script>
  <script src="../../js/request.js"></script>
  <script src="../../js/validate.js"></script>
  <script src="../../api/login.js"></script>

  <script>
    new Vue({
      el: '#login-app',
      data() {
        return {
          loginForm:{
            username: 'admin',
            password: '123456'
          },
          loading: false
        }
      },
      computed: {
        loginRules() {
          const validateUsername = (rule, value, callback) => {
            if (value.length < 1 ) {
              callback(new Error('请输入用户名'))
            } else {
              callback()
            }
          }
          const validatePassword = (rule, value, callback) => {
            if (value.length < 6) {
              callback(new Error('密码必须在6位以上'))
            } else {
              callback()
            }
          }
          return {
            'username': [{ 'validator': validateUsername, 'trigger': 'blur' }],
            'password': [{ 'validator': validatePassword, 'trigger': 'blur' }]
          }
        }
      },
      created() {
      },
      methods: {
        async handleLogin() {
          this.$refs.loginForm.validate(async (valid) => {
            if (valid) {
              this.loading = true
              // 登入方法，在js中请求/employee/login'
              let res = await loginApi(this.loginForm)
              //前端和后端约定好，1表示登入成功，服务端相应的res 含有 code、data、msg
              if (String(res.code) === '1') {
                //将userinfo 放入
                //从服务器的角度来看，LocalStorage 存储的数据对其并没有太大的用处，因为这些数据存储在客户端本地，并不会被发送到服务器端，因此服务器无法直接访问这些数据。
                // 但是，LocalStorage 存储的数据可以在客户端和服务器之间进行传递和共享，通过将数据存储在 LocalStorage 中，可以使得客户端能够方便地获取到特定的数据并在不同的页面之间进行共享。
                localStorage.setItem('userInfo',JSON.stringify(res.data))
                //跳转，渲染页面.跳转和直接访问是不同的概念。在 JavaScript 中，通过 window.location.href 或 window.open 等方法可以实现页面跳转，打开新的 URL 地址，但这个过程实际上是浏览器重新加载并渲染了一个新的页面，而不是直接在当前页面中访问其他域名下的资源。
                window.location.href= '/backend/index.html'
              } else {
                this.$message.error(res.msg)
                this.loading = false
              }
            }
          })
        }
      }
    })
  </script>
</body>

</html>
